<header>
    <div class="banner">
        <img src="{{img}}" alt="">
    </div>
    <div class="container-fluid">
        
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "  style="background-color: #E76012;"  >
            <h1 class="text-center  text-white">{{title}}</h1> 
          </div>
        
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 "   style="background-color: #E76012;">
            <h1 class="text-center text-white">{{encabezado1}}</h1> 
            <p class="text-white">Entender las necesidades del cliente y proponer soluciones creativas e innovadoras.</p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 "  style="background-color: #E76012;" >
            <h1 class="text-center text-white">{{encabezado2}}</h1> 
            <p class="text-center text-white">Consolidarme como un ilustrador vanguardista.</p>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 "  style="background-color: #E76012;" >
            <h1 class="text-center text-white">{{encabezado3}}</h1> 
            <ul>
             <li class="text-white">{{text1}}</li>
             <li class="text-white">{{text2}}</li>
             <li class="text-white">{{text3}}</li>
             <li class="text-white">{{text4}}</li>
             <li class="text-white">{{text5}}</li>
             <li class="text-white">{{text6}}</li>
            </ul>
          </div>
        </div>
    
      </div> 
</header>