<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <nav class="navbar navbar-expand-sm navbar-light " style="background-color: #E76012;">
  <!-- enlaces -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link text-white">{{item1}}</a>
    </li>
    <li class="nav-item">
      <a routerLink="/service" class="nav-link text-white">{{item2}}</a>
    </li>
    <li class="nav-item">
      <a routerLink="/portfolio" class="nav-link text-white">{{item3}}</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link text-white">{{item4}}</a>
    </li>            
  </ul>
</nav>
<div class="container">
  

  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"  style="margin-top: 50px;">
    <img src="https://firebasestorage.googleapis.com/v0/b/hackerprojects-63840.appspot.com/o/MicrosoftTeams-image%20(1).png?alt=media&token=196e86f2-306a-44ef-b7fb-b87ed7f71cc3" alt="" width="100%">  
    <p class="text-center">Fundador de hashtag design</p>    
  </div>
  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"  style="margin-top: 50px;background-color: #E76012;border-radius: 10px; height: 450px;display: flex;align-items: center;text-align: center;color: #fafafa;">
    <form class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h1>Comunicate con nosotros</h1>
      <div class="form-group"> 
        <label for="nombre">Ingresa tu nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="art.descripcion"/>
      </div> 
      <div class="form-group"> 
        <label for="clave">Ingresa tu correo electrónico</label>
        <input type="email" class="form-control" id="clave" name="clave" [(ngModel)]="art.precio"/>
      </div> 
      <button type="submit" class="btn btn-default" (click)="alta()">Enviar</button>       
    </form>
   
  </div>
    </div>
</div>
    <div>
      <router-outlet>
      </router-outlet>
    </div>




   
</body>
</html>


